<p class="edit-instructions">Click on todo item to edit</p>

<div class="footer-wraper">
  <ul id="filters">
    <li class="filter__container">
      <a class="filter" href="#" (click)="sortTextUp()">&darr;&uarr; a-z</a>
    </li>
    <li class="filter__container">
      <a class="filter" href="#" (click)="sortTextDown()">&darr;&uarr; z-a</a>
    </li>

    <li class="filter__container">
      <a class="filter" href="#" (click)="sortIdUp()">&darr;&uarr; 1-9</a>
    </li>
    <li class="filter__container">
      <a class="filter" href="#" (click)="sortIdDown()">&darr;&uarr; 9-1</a>
    </li>
  </ul>
</div>


