$border-color: #EEEEEE
$border-color-active: #00BCD4

ul 
  margin: 0
  padding: 0

.footer-wraper
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  
  padding-top: 20px

.edit-instructions
  text-align: center
  font-size: 13px

.filter__container
  display: inline
  
.filter
  text-decoration: none
  color: grey
  background: #ffffff
  padding: 10px  
  border-radius: 5px
  border: 2px solid $border-color

  &:hover, &:active, &:focus
    border: 2px solid $border-color-active

@media screen and (max-width: 700px) 
  .filter
    padding: 5px